.DS_Store
.project
.classpath
.settings
/elasticsearch-client-ingest-api/target/
/elasticsearch-client-api/target/
/elasticsearch-client-search-api/target/
/elasticsearch-client-admin-api/target/
/target/
/elasticsearch-discovery-tao/target/
/elasticsearch-transport-api/target/
/elasticsearch-client-compression-lzf/target/
/elasticsearch-transport-netty/target/
/elasticsearch-client-compression-snappy/target/
/elasticsearch-client-common/target/
/elasticsearch-client-search/target/
/elasticsearch-client-ingest/target/
/elasticsearch-client-admin/target/
/elasticsearch-client-geo/target/
/elasticsearch-client-scripting/target/
/elasticsearch-transport/target/
/elasticsearch-http-netty/target/
/elasticsearch-client-admin-http/target/
/elasticsearch-client-search-http/target/
/elasticsearch-client-jdk5/target/